<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="loginregisterpage">
<div class="col">
    <div class="row text-center">
        <h1>Register Page</h1>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 pt-2">
            <form action="doregister" method="post">
                <div class="mb-3">
                    <label class="form-label"><b>Name</b></label>
                    <input name="name" type="text" class="form-control" placeholder="Please writing your name">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Surname</b></label>
                    <input name="surname" type="text" class="form-control" placeholder="Please writing your surname">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Email address</b></label>
                    <input name="email" type="email" class="form-control" placeholder="name@example.com">
                    <div class="form-text"><b>We'll never share your email with anyone else.</b></div>
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Password</b></label>
                    <input name="password" type="password" class="form-control" placeholder="******">
                    <div class="form-text"><b>We'll never share your password with anyone else.</b></div>
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Gender</b></label>
                    <select  name="userGender" class="form-select">
                        <option selected>Please select your gender</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>
                <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary"><b>Register</b></button>
                </div>

            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>



</body>
</html>